.div{display: flex;
    gap: 50px
    ;
    &jet{
        gap: 5px
        ;
        display: flex;
        flex-direction: column;
        button{
            width: 150px;
            height: 80px;
        }
    }

}